html{
  background-color:burlywood;
}
body{
  margin: 0px;
}
.top{
  text-align: center;
  justify-self: center;
  justify-items: center;
  background-color: lightcyan;
  position: fixed;
  width: 100%;
  margin: 0px;
  
}
p2{
  background-color:gold;
}
.p1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  border:3px inset grey ;
  background-color:darkred;
  color:white;
}
.top h3{
  justify-self: inherit;
  text-align: center
}
.spacer{
  height: 100px;
}
.img{
  justify-items: center;
  text-align: right;
}
.img img{
  border:3px solid black;
  outline:2px solid black;
  outline-offset:4px;
  justify-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
img{
  border: 3px solid black;
  outline:2px solid black;
  outline-offset:4px;
  justify-self:center;
  display: block;
  margin-left: auto;
  margin-right:auto;
  width: auto;
}
.imgcred{
  font-style: italic;
}
.trim:link, .trim:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.trim:hover, .trim:active {
  background-color: red;
}

.cred{
  text-align: right;
  font-style: italic;
}
{

}
h2{
  color:darkblue;
}
.song{
  justify-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 580;
}

.copyr{
  height: 100px;
  width: 100%;
  background-color:black;
}
.copyr p{
  color: white;
}